@model Empleado 

<h1>Edit Empleado SP</h1>
<form method="post">
    <input type="hidden" name="idempleado" value="@Model.IdEmpleado"/>
    <label>Incremento Salarial: </label>
    <input name="incremento" type="text"
           class="form-control" required/> <br />
    <button type="submit" class="btn btn-info">
        Modificar Salario
    </button>
</form>  
<hr />
<h1 style="color:blue">
    Apellido: @Model.apellido, Oficio @Model.Oficio
</h1>
<h1 style="color:red">
    Salario: @Model.Salario
</h1>